# Extracting Attributes

## Sample text from Supply and Demand Side

In [1]:
sample_supply=["I am a caring and kind person with a sound knowledgeable of child development and childrens needs at the different stages. I have worked in child care environments where I was responsible for creating a stimulating, encouraging, safe atmosphere for each child & their individual needs. I have skills in supporting babies and children age upto 12 yrs and am genuinely passionate about providing the best child care and experienced in play activities .I also have good experience with children of 1 2 yrs I have an excellent record of working successfully with families in different settings. I take pride in being able to handle difficult situations sympathetically but with professionalism.Key Skills:.Extensive child care experience.Ability to prioritise effectively.Strong childcare and play skills.Excellent communication skills.Proven experience of working successfully in difficult and varied circumstances See resume for more details.Look forward to hearing from all you busy mums & dads ?"]
sample_demand=["Our Family We are a busy family of four. Our son is 7 yrs old and loves soccer, school and play dates with his friends. Our daughter is 5yrs old and loves animals, the outdoors and hanging out with her brother. Our children attend Killarney Heights primary school and have several activities outside of school, mostly soccer training, swimming and tennis. Both mum and dad work full time. We live in a nice house in French Forest with lovely neighbours and great cafes, shops, playground nearby,Your Duties This will entail picking the children up after school and taking them to their various activities, cooking/preparing dinner, bath and story time so you should be good at communication.Our Perfect Caregiver We are looking for a caring and responsible nanny to look after our children after school so nanny should also be knowledgeable. You should be responsible, attentive and fun."]

## Keywords to look for in sample text

In [2]:
keywords = ['caring','kind','attentive','responsible','experiences','Excellent','knowledgeable','Experienced','animals','outdoors','Duties','Pets','Dogs']

### Looking for Ages/Family size and Location in Sample Text

In [3]:
AGE_SUPPLY = []
LOC_SUPPLY = []

AGE_DEMAND = []
LOC_DEMAND = []

### Imports

In [4]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag
from nltk.corpus import stopwords
import string
import spacy

### Preprocessing of Sample Text and Keywords

In [5]:
def to_lower(data):
    for i,word in enumerate(data):
        data[i] =word.lower()
    return data 

keywords = to_lower(keywords)
sample_demand = to_lower(sample_demand)
sample_supply = to_lower(sample_supply)

In [6]:
def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])# It will discard all punctuations
    return text_nopunct

sample_demand = remove_punct(sample_demand)
sample_supply = remove_punct(sample_supply)


### Using Spacy for Entity Extraction

In [7]:
def attribute_extract(doc):
    AGE=[]
    LOC=[]
    for ent in doc.ents: 
        if ent.label_ == 'LOC':
            LOC.append(ent.text)
        elif ent.label_ == 'CARDINAL':
            # FOR Converting String to int 
            if ent.text =='one':
                AGE.append(1)
            elif ent.text =='two':
                AGE.append(2)
            elif ent.text =='three':
                AGE.append(3)
            elif ent.text =='four':
                AGE.append(4)
            elif ent.text =='five':
                AGE.append(5)
            elif ent.text =='six':
                AGE.append(6)
            elif ent.text =='seven':
                AGE.append(7)
            elif ent.text =='eight':
                AGE.append(8)
            elif ent.text =='nine':
                AGE.append(9)
            else:
                AGE.append(ent.text)
    return LOC,AGE

In [8]:
nlp = spacy.load('en_core_web_sm') 
doc = nlp(sample_supply) 
LOC_SUPPLY,AGE_SUPPLY = attribute_extract(doc)

In [9]:
nlp = spacy.load('en_core_web_sm') 
doc = nlp(sample_demand) 

LOC_DEMAND,AGE_DEMAND = attribute_extract(doc)

### Creating DataFrame

In [10]:
import pandas as pd 

Age = [AGE_SUPPLY,AGE_DEMAND]
data = {
    "data":[sample_supply,sample_demand],
    "Age": Age,
}
df = pd.DataFrame(data , columns=["data","Age"])

### Extracting Attributes from supply and demand text

In [11]:
#PLURAL NOUNS ,ADJECTIVES ,Nouns
keys = ['NNS','JJ','NN']

def tags(sent):
    sent = nltk.word_tokenize(sent)
    sent = nltk.pos_tag(sent)
    return sent

In [12]:
sent = tags(sample_demand)
attr_demand =[]
for i in sent:
    if i[1] in keys:
        attr_demand.append(i[0])
final_demand = []
for i in attr_demand:
    if i in keywords:
        final_demand.append(i)

In [13]:
sent = tags(sample_supply)

attr_supply =[]
for i in sent:
    if i[1] in  keys:
        attr_supply.append(i[0])

final_supply = []
for i in attr_supply:
    if i in keywords:
        final_supply.append(i)

In [14]:
attr = [final_supply,final_demand]
df['Attributes'] = attr

In [15]:
df.head()

,data,Age,Attributes
0,i am a caring and kind person with a sound kno...,[1],"[caring, kind, knowledgeable, responsible, exc..."
1,our family we are a busy family of four. our s...,"[4, 7]","[animals, outdoors, duties, caring, responsibl..."

##  Matching

In [16]:
df.head()

,data,Age,Attributes
0,i am a caring and kind person with a sound kno...,[1],"[caring, kind, knowledgeable, responsible, exc..."
1,our family we are a busy family of four. our s...,"[4, 7]","[animals, outdoors, duties, caring, responsibl..."

In [17]:
THRESHOLD_FOR_MATCHING = 3

In [18]:

count=0
for word in final_supply:
    if word in final_demand:
        count+=1

if count>=THRESHOLD_FOR_MATCHING:
    print('You Found a Match')

You Found a Match